.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

Button {
  padding: 10px;
  background-color: #232b2b;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #808080;
  color: #808080;
}

form.ui.form {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  width: 100%;
}

.input-field {
  width: 30%;
  min-width: 200px;
  font-family: inherit;
  padding: 10px;
}

input[type=text] {
  background-color: #232b2b;
  color: #808080;
  padding: 12px 20px;
  /*margin: 8px 0;*/
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
}
